#listCities{
  border: none;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-radius: 0px 0px 5px 5px;
  margin-top: -3px;
  padding-bottom: 1px;
  position: absolute;
  background-color: white;
  width: 510px;
  margin-left: 15px;
  display: none;
}

ul{
  padding: 0px;
  margin: 0px;
}

li{
  list-style: none;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.li-list-cities:hover{
  background-color: rgba(48, 183, 255, 0.2);
  cursor: pointer;
}

a{
  display: block;
  text-decoration: none;
}

.mainDiv{
  padding-top: 15%;
}